body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #0f0f0f;
    color: #e3e3e3;
}

button, input, select {
    font-family: inherit;
}

strong{
    color: #1DB954;
}

/*Headlines*/
h1 {
    color: #1DB954;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 45px;
}

h2 {
    margin-top: 50px;
    color: #1DB954;
    font-size: 30px;
    border-left: 4px solid #e3e3e3;
    padding-left: 12px;
}

/*Slogan unter h1*/
.slogan {
  margin-top: -35px;
  margin-bottom: 50px;
  font-style: italic;
}

/*Text & Listen*/
p, ol {
    font-size: 18px;
    color: #e3e3e3;
    margin-top: 16px;
}

/*Links*/
a {
    color: #1DB954;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: #1ed760;
}

/*Error*/
.error {
    margin-top: 15px;
    color: #ff4d4d;
    font-size: 15px;
}

/*hidden*/
.hidden{
    display: none;
}

/*Content Box*/
.content {
    background-color: #1e1e1e;
    max-width: 750px;
    margin: 60px auto 80px;
    padding: 50px 55px;
    border-radius: 15px;
    box-shadow: 0 10px 25px #000000c0;
    line-height: 1.5;
}


/*Navigationsbar*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e1e1e;
    padding: 20px 30px;
    box-shadow: 0 6px 20px #000000c0;
    border-radius: 0 0 16px 16px;
    position: sticky;
    font-size: 18px;
}

.nav-left,.nav-right {
    display: flex;
    gap: 30px;
    margin: auto 15px auto;
}

.nav-link {
    color: #e3e3e3;
    text-decoration: none;
    padding: 12px 18px;
    border-radius: 10px;
}

.nav-link:hover {
    background-color: #0f0f0f;
    text-decoration: none;
    color: #1DB954;
}

.nav-link.active {
    background-color: #1DB954;
    color: #0f0f0f;
}

/*Logout Menü*/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: transparent;
    color: #e3e3e3;
    padding: 12px 18px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}

.dropbtn:hover {
    background-color: #0f0f0f;
    color: #1DB954;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #1e1e1e;
    text-align: center;
    min-width: 100px;
    box-shadow: 0 8px 16px #000000c0;
    border-radius: 10px;
}

.dropdown-content a {
    color: #e3e3e3;
    padding: 15px 15px;
    display: block;
}

.dropdown-content a:hover {
    text-decoration: none;
}

.logout:hover{
    color: #c54646;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*General Form*/
.form-box{
    background-color: #1e1e1e;
    max-width: 500px;
    margin: 60px auto 80px;
    padding: 50px 55px;
    border-radius: 15px;
    box-shadow: 0 10px 25px #000000c0;
    line-height: 1.5;
    text-align: center;
}

label {
    display: block;
    margin: 15px 0 5px;
    text-align: left;
}

input{
    height: 40px;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #2a2a2a;
    color: #e3e3e3;
    font-size: 15px;
    box-sizing: border-box;
}

input:focus{
    outline: 2px solid #1DB954;
}

.form-submit {
    width: 20%;
    margin: 30px auto 10px;
    background-color: #1DB954;
    color: #1e1e1e;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    font-weight: bold;
    font-size: 15px;
}

.form-submit:hover {
    background-color: #1ed760;
}

input:disabled, select:disabled{
    cursor: not-allowed;
    opacity: 0.3; 
}